body {
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif !important;
    height: auto !important;
    position: relative !important;
}

.wh {
    color: #fff !important;
}

.bg_wh {
    background-color: #fff !important;
}

.tx_1 {
    color: #1930ab !important;
}

.bg_1 {
    background-color: #1930ab !important;
}

.tx_2 {
    color: #1930ab !important;
}

.bg_2 {
    background-color: #1930ab !important;
}

.c {
    text-align: center !important;
}

.l {
    text-align: left !important;
}

.r {
    text-align: right !important;
}

.b {
    font-weight: bold !important;
}


.jc {
    justify-content: center !important;
}


/* ---------------------------------------------------header--------------------------------------------------- */
#header .navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: +99999 !important;
    background: #1930ab !important;
}


#header .navbar-toggler {
    font-size: 12px !important;
    background-color: #fff !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

#header .nav-link {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #858a8c !important;
}

#header .nav-link.active {
    color: #fff !important;
}


.btn-group {
    width: 100% !important;
}

input[type=checkbox] {
    accent-color: #1930ab !important;
}

input[type=radio] {
    accent-color: #1930ab !important;
}

.btn-group {
    height: 30px !important;
}

.logo {
    width: 180px !important;
}

/* --------------------------------------------------tables-------------------------------------------------- */
#tables {
    padding: 15px 8px;
}

#tables .whitebx {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    padding: 10px;
}

#tables .whitebx_1 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    padding: 10px;

}

#tables .whitebx_2 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    padding: 10px;

}

.tbl_title {
    font-weight: 500 !important;
    font-size: 15px !important;
    margin-bottom: 4px !important;
    color: #1930ab !important;
    margin-top: 6px !important;
}

.tbl_title span {
    color: #00B0F0 !important;
}

#tables #pills-profile {
    display: none;
}

#tables #pills-contact {
    display: none;
}

#tables tr {
    font-size: 11px !important;
}

#tables td {
    font-size: 11px !important;
    border-bottom: none !important;
}

#tables .odd {
    background-color: #fff !important;
}

#tables .even {
    background-color: #f2f2f2 !important;
}

.hr {
    margin: 0px !important;
}

#tables .dataTables_paginate {
    margin-top: 10px !important;
    font-size: 12px !important;
}

#tables .dataTables_paginate .paginate_button {
    padding: 2px !important;
}

#tables .dataTables_paginate .paginate_button.current {
    background-color: #f2f2f2 !important;
}

#tables .dataTables_wrapper label {
    display: none !important;
}

#tables .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px !important;
}

#tables table.dataTable thead th,
table.dataTable thead td {
    padding: 5px 8px !important;
    border-bottom: 0px !important;
    font-size: 12px !important;
}

#tables .dataTable {
    width: 100% !important;
}

#tables .dataTables_scrollHeadInner {
    padding-right: 0px !important;
    width: 100% !important;
}

#tables .dataTables_scrollBody .table td {
    border-bottom: 0px !important;
}

thead tr {
    background-color: #1930ab !important;
    color: #fff !important;
}

thead tr th {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #fff !important;
}

tbody tr td {
    font-size: 12px !important;
    border-bottom: 0px !important;
    padding: 5px 8px !important;
}

.dataTable {
    width: 100% !important;
}

.dataTables_scrollHeadInner {
    padding-right: 0px !important;
    width: 100% !important;
}

.dataTables_sizing {
    display: none !important;
}


thead tr th {
    font-weight: 500 !important;
    font-size: 13px !important;
}


.dataTables_scrollBody thead {
    display: none !important;
}

.dot {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}


.lg {
    max-width: 150px !important;
    min-width: 150px !important;
}

.md {
    min-width: 120px !important;
    max-width: 120px !important;
}

.sm {
    min-width: 85px !important;
    max-width: 85px !important;
}

.xs {
    min-width: 60px !important;
    max-width: 60px !important;
}


#tables .dataTables_paginate .paginate_button {
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}


#table_8_previous>a:nth-child(1) {
    border: none;
}

.page-link {
    border: none !important;
    font-size: 12px !important;
}

.page-link:hover {
    border-radius: 5px !important;
}

.paginate_button:hover {
    border-radius: 5px !important;
}

.active>.page-link,
.page-link.active {
    background-color: #1930ab !important;
    color: #fff !important;
    border-radius: 5px !important;
}

.page-link:focus {
    box-shadow: none !important;
    outline: none !important;
}

.paginate_button a {
    color: #636363 !important;
}

.paginate_button.disabled {
    opacity: 0.5 !important;
}


/* -----------------------------------------Scroll bar----------------------------------------- */

/* Firefox */
* {
    scrollbar-width: thin !important;
    scrollbar-color: #a7a7a7 #d6d6d6 !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px !important;
    scrollbar-width: thin !important;
}

*::-webkit-scrollbar-track {
    background: #bfbfbf;
}

*::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 26px !important;
    border: 34px none var(--white);
}


/* page-container */
#page-container {
    position: relative;
    min-height: 100vh;
}

/* content-wrap  */
#content-wrap {
    padding-bottom: 60px !important;
    /* padding-top: 50px !important; */
    /* Footer height */
}

/* -----------------------------------------footer----------------------------------------- */
#footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #d8dcdf !important;
    padding: 8px 0px !important;
    margin-top: 20px !important;
    font-size: 12px !important;
}

.footer-text {
    font-size: 12px !important;
}




/* file picker  */

.flx_sb {
    display: flex !important;
    justify-content: space-between !important;
}

.rbtn1 {
    background-color: #00B0F0 !important;
    border: 2px solid #00B0F0 !important;
    color: #fff !important;
    border-radius: 16px !important;
    min-width: 80px !important;
    padding: 4px 20px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn:disabled {
    background-color: #00B0F0 !important;
}

.rbtn1:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}


.mainsection-top {
    /* background-color: #f2f2f2 !important; */
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 70px !important;
    padding-bottom: 16px !important;
}


/* Carousel Css Started */

#banner-carousel .item {
    border-radius: 12px !important;
}

#banner-carousel .image {
    background-position: center center !important;
    background-size: cover !important;
    height: 68vh !important;
    background-repeat: no-repeat !important;
    border-radius: 12px !important;
}

/* Carousel Css Ended */


@media (max-width:580px) {
    .rbtn1 {
        margin-top: 8px !important;
    }
}








.mobile-number-input {
    position: relative !important;
}

.mobile-number-input input {
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9 !important;
    padding: 10px;
    color: #000;
    padding-right: 110px;
    padding-left: 65px;
    height: 35px !important;
    border-radius: 4px !important;
}



.mobile-number-input button {
    position: absolute !important;
    top: 5px;
    right: 6px;
    min-width: 80px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #733889;
    border-radius: 16px !important;
    font-weight: 500;
    font-size: 12px !important;
    padding: 4px 12px !important;
    cursor: pointer;
}

.mobile-number-input .country-code {
    position: absolute !important;
    top: 5px;
    left: 6px;
    min-width: 50px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #733889;
    border-radius: 16px !important;
    font-weight: 500;
    font-size: 12px !important;
}
